/* --------------------------------Components------------------------------------ */
.verify-email-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: calc(100vh - 56px);
}