/* --------------------------------Components------------------------------------ */
.reset-password-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100vh;
}